In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
path ='C:/Users/sreekar chidurala/Desktop/july work/quantum black AV/drive' # use your path
all_files = glob.glob(path + "/*.parquet")

li = []

for filename in all_files:
    df = pd.read_parquet(filename)
    li.append(df)

drive_frame = pd.concat(li, axis=0, ignore_index=True)

C:\Users\sreekar chidurala\Anaconda3\envs\sreekarr\lib\site-packages\pyarrow\pandas_compat.py:708: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels = getattr(columns, 'labels', None) or [
C:\Users\sreekar chidurala\Anaconda3\envs\sreekarr\lib\site-packages\pyarrow\pandas_compat.py:735: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return pd.MultiIndex(levels=new_levels, labels=labels, names=columns.names)
C:\Users\sreekar chidurala\Anaconda3\envs\sreekarr\lib\site-packages\pyarrow\pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [3]:
drive_frame.head()

,vehicle_id,trip_id,datetime,velocity,accel_x,accel_y,accel_z,engine_coolant_temp,eng_load,fuel_level,iat,rpm
0,1000515,db3c08b01205459294bbc91e3f7dfeb6,2017-01-06 23:00:00,0.00,50.0,65.13,87.92,150.70,192.88,118.66,95.0,2107.44
1,1000515,db3c08b01205459294bbc91e3f7dfeb6,2017-01-06 23:00:01,47.49,51.0,72.34,83.78,154.76,196.04,116.69,100.0,2119.17
2,1000515,db3c08b01205459294bbc91e3f7dfeb6,2017-01-06 23:00:02,57.94,50.0,69.20,87.73,165.50,196.01,105.46,90.0,2112.32
3,1000515,db3c08b01205459294bbc91e3f7dfeb6,2017-01-06 23:00:03,57.50,48.0,70.83,84.95,157.32,193.31,110.35,90.0,2092.94
4,1000515,db3c08b01205459294bbc91e3f7dfeb6,2017-01-06 23:00:04,52.29,47.0,70.22,92.90,151.00,189.49,104.25,97.0,2117.87

In [4]:
drive_frame.sort_values(by = ['vehicle_id','datetime'], inplace=True)

## Engine Features

### Torque Features Test

In [5]:
def torque_feat(df, lower=60):
    df = df.copy()
    df['torque'] = df['eng_load']/255
    m1 = (df['torque'] >= lower/100) & (df['torque'] < (lower + 10)/100)
    fname = 'ft_torque_util_' + str(lower) + 'pct_s'
    df[fname] = np.where(m1,1,0)
    df['datetime'] = pd.to_datetime(df['datetime']) - pd.to_timedelta(7, unit='h')
    df['Date'] = df['datetime'] - pd.to_timedelta(7, unit='d')
    df1 = df.groupby(['vehicle_id', pd.Grouper(key='Date', freq='W-SUN')])[fname].sum().reset_index().sort_values('Date')
    df1['week_start_date'] = df1['Date'] + pd.to_timedelta(1, unit='d')
    df1.drop(['Date'],axis = 1, inplace = True)
    cols = ['vehicle_id','week_start_date',fname]
    df1 = df1[cols]
    return df1

In [6]:
for i in [60,70,80,90]:
    temp_df = pd.DataFrame()
    if i == 60:
        fin_df = torque_feat(drive_frame, lower = i)
    else:
        temp_df = torque_feat(drive_frame, lower=i)
        fin_df = fin_df.merge(temp_df, how = 'left', on = ['vehicle_id','week_start_date'])

In [7]:
fin_df.head()

,vehicle_id,week_start_date,ft_torque_util_60pct_s,ft_torque_util_70pct_s,ft_torque_util_80pct_s,ft_torque_util_90pct_s
0,1000500,2016-12-26,0,6570,8909,9
1,1000504,2016-12-26,0,22722,21651,1
2,1000505,2016-12-26,0,74,9179,36
3,1000506,2016-12-26,74,8405,8054,0
4,1000507,2016-12-26,0,3517,10497,1

### HorsePower Features

In [10]:
vehicle_data = pd.read_csv("vehicle.csv", error_bad_lines=False)

b'Skipping line 8: expected 17 fields, saw 33\nSkipping line 15: expected 17 fields, saw 33\nSkipping line 22: expected 17 fields, saw 33\nSkipping line 29: expected 17 fields, saw 33\n'

In [11]:
merged_drive_frame = drive_frame.merge(vehicle_data[['vehicle_id','max_torque','max_horsepower','max_horsepower_rpm']], how='left', on = 'vehicle_id')

In [12]:
merged_drive_frame['horsepower_util'] = ((merged_drive_frame['eng_load']/255)*merged_drive_frame['max_torque']*merged_drive_frame['rpm'])/(5252*merged_drive_frame['max_horsepower'])

In [13]:
def horsepower_feat(df, lower=50):
    df = df.copy()
    m1 = (df['horsepower_util'] >= lower/100) & (df['horsepower_util'] < (lower + 10)/100)
    fname = 'ft_horsepower_util_' + str(lower) + 'pct_s'
    df[fname] = np.where(m1,1,0)
    df['datetime'] = pd.to_datetime(df['datetime']) - pd.to_timedelta(7, unit='h')
    df['Date'] = df['datetime'] - pd.to_timedelta(7, unit='d')
    df1 = df.groupby(['vehicle_id', pd.Grouper(key='Date', freq='W-SUN')])[fname].sum().reset_index().sort_values('Date')
    df1['week_start_date'] = df1['Date'] + pd.to_timedelta(1, unit='d')
    df1.drop(['Date'],axis = 1, inplace = True)
    cols = ['vehicle_id','week_start_date',fname]
    df1 = df1[cols]
    return df1

In [ ]:
xx = horsepower_feat(merged_drive_frame, lower=50)

In [ ]:
for i in [50,60,70,80]:
    temp_df = pd.DataFrame()
    if i == 50:
        fin_df_hp = horsepower_feat(merged_drive_frame, lower = i)
    else:
        temp_df = horsepower_feat(merged_drive_frame, lower=i)
        fin_df_hp = fin_df_hp.merge(temp_df, how = 'left', on = ['vehicle_id','week_start_date'])

### RPM Features

In [71]:
merged_drive_frame['rpm_util'] = merged_drive_frame['rpm']/merged_drive_frame['max_horsepower_rpm']

In [72]:
def rpm_feat(df, lower=50):
    df = df.copy()
    m1 = (df['rpm_util'] >= lower/100) & (df['rpm_util'] < (lower + 10)/100)
    fname = 'ft_rpm_util_' + str(lower) + 'pct_s'
    df[fname] = np.where(m1,1,0)
    df['datetime'] = pd.to_datetime(df['datetime']) - pd.to_timedelta(7, unit='h')
    df['Date'] = df['datetime'] - pd.to_timedelta(7, unit='d')
    df1 = df.groupby(['vehicle_id', pd.Grouper(key='Date', freq='W-SUN')])[fname].sum().reset_index().sort_values('Date')
    df1['week_start_date'] = df1['Date'] + pd.to_timedelta(1, unit='d')
    df1.drop(['Date'],axis = 1, inplace = True)
    cols = ['vehicle_id','week_start_date',fname]
    df1 = df1[cols]
    return df1

In [73]:
for i in [50,60]:
    temp_df = pd.DataFrame()
    if i == 50:
        fin_df_rpm = rpm_feat(merged_drive_frame, lower = i)
    else:
        temp_df = rpm_feat(merged_drive_frame, lower=i)
        fin_df_rpm = fin_df_hp.merge(temp_df, how = 'left', on = ['vehicle_id','week_start_date'])

In [74]:
fin_df_rpm[fin_df_rpm['vehicle_id'] == 1000500]

,vehicle_id,week_start_date,ft_horsepower_util_50pct_s,ft_horsepower_util_60pct_s,ft_horsepower_util_70pct_s,ft_horsepower_util_80pct_s,ft_rpm_util_60pct_s
0,1000500,2016-12-26,0,0,0,0,0
23,1000500,2017-01-02,0,0,0,0,0
40,1000500,2017-01-09,0,0,0,0,0
61,1000500,2017-01-16,0,0,0,0,0
86,1000500,2017-01-23,0,0,0,0,0
109,1000500,2017-01-30,0,0,0,0,0
121,1000500,2017-02-06,0,0,0,0,0
144,1000500,2017-02-13,0,0,0,0,0
159,1000500,2017-02-20,0,0,0,0,0
180,1000500,2017-02-27,0,0,0,0,0

## Drive Features

In [50]:
path = r'/Users/ankit/Desktop/mck_qb_test/Hackathon/Input data/trip' # use your path
all_files = glob.glob(path + "/*.parquet")

li = []

for filename in all_files:
    df = pd.read_parquet(filename)
    li.append(df)

trip_frame = pd.concat(li, axis=0, ignore_index=True)

In [51]:
trip_frame['datetime'] = pd.to_datetime(trip_frame['datetime']) - pd.to_timedelta(7, unit='h')

In [52]:
trip_frame[trip_frame['vehicle_id'] == 1000515].to_csv('sample_drive_1000515.csv',index = False)

In [53]:
trip_frame.sort_values(by = ['vehicle_id','datetime'], inplace=True)

In [54]:
trip_frame['velocity_diff'] = trip_frame['velocity'].diff()
trip_frame['vehicle_id_diff'] = trip_frame['vehicle_id'].diff()

In [55]:
trip_frame.head()

,vehicle_id,trip_id,datetime,lat,long,velocity,velocity_diff,vehicle_id_diff
7406337,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:00,31.3125,-85.187500,0.00,NaN,NaN
7406338,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:01,31.3125,-85.187222,61.20,61.20,0.0
7406339,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:02,31.3125,-85.186944,65.41,4.21,0.0
7406340,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:03,31.3125,-85.186667,57.70,-7.71,0.0
7406341,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:04,31.3125,-85.186389,68.61,10.91,0.0

In [56]:
trip_frame[trip_frame['vehicle_id_diff'] == 1]['velocity_diff'] = 0

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [57]:
m1 = trip_frame['velocity_diff'] <0
fname = 'deacc_flag'
trip_frame[fname] = np.where(m1,1,0)

In [58]:
trip_frame['deacc_flag_diff'] = trip_frame['deacc_flag'].diff()

In [59]:
m2 = trip_frame['deacc_flag_diff'] == 1
trip_frame['deacc_final_flag']= np.where(m2,1,0)

In [60]:
trip_frame.groupby(['trip_id'])['deacc_final_flag'].sum()

trip_id
00922df3be5a4589ab385d0c2da2dd81     897
00dc31fe55e24d14989c89de4b3b683b    1217
0156d21e316d4d8b9d5bf6ccff797bf7    2224
01b8a24510cd4e4684d67b96369286e0      28
01c2a70c25e5428bb33811ca5eb19270    2723
01d4a4efe7d14d11a5f9fa5f40bd8bc3      99
0244f7bc747b41fba6fcd75444736621     185
025e2f194863461d9c27b2242007ac09    1528
02abe724b7a943cdae50c69e4f03cc26    1285
02c51e56cc484711b218d3d01196687a    2125
02cdeb03041b450d83b18623ba7d6ae8    4287
0324ddb398fd4e97b73375abcda402b8    1195
032d48f64d4e44af80f1a30ae48f40c6    3002
033a252fccc3488da8f0c343fb93ab10    1146
035f294bfbdd46c290fa023054add699     697
0379dabd796440b1aa11378795e859ed    2936
039c14a9a7df4096bb6e9445136fdf77    2408
03b8ac1525474754b4d89d2d647aa8e4    2390
03c33d016a2e4eb3857b900db61feb0e     190
03e0a7f2f6204a3aa6d4e5ebd2fec5f7    2184
03fd5dc0e51443e69803aa0813f6ccfe    1920
047633791fb243ff814b1b760a7bd5a4    1694
0479672ff07c4fefb7ce001b85435d9c    2994
04a0c61b0db5478e8e8c6052b300a303    2119
04c6db234dfa4e0fbc979d93edfead48    2143
0511543f810249a3abc1919582f2888e    2197
05693aea439d4ea3aac1bbd4fba585ad    3663
057df3c6eacd439a8914d2424150da19    3025
05e3f9ef5204475981edd44e5939c4a4    1134
05fb7678346d466db8228ad002bb7840    3147
                                    ...
fc04cf004c1648c9a92f025b6ac2a89c     187
fc28ffb46fb14f50bf8a209fd781f2ad    3972
fc3af0146f604a92b690aa523e95b35c    6838
fc93cc929c4345aeac225f4cf67e0122     444
fcd18f8a156a4e1da2fca622999431b2    1352
fd180aff3b4240c1be47d09088d1322c     811
fd44b5e1a3fa4e3186c331e2aacac514    3026
fd5a92a02ad7470280a21f4aa1163294    6382
fd7cfada664d4c40a4868c486379b1d1    3884
fd90bffab2bd460eaeb14de54e0a61a6    3096
fd9bcb500fd1404892de1944376f9290    1789
fe071723a3fd46c8948c91d7a4ee3928    1771
fe1bd4afa05046a5a5a3310a86eb0a14    1444
fe2cb081e83f4c3e96b4ce0568ada97d    5310
fe59a88a2a684cefab5bc7e484f68ecc    1828
fe5e80e1fd1742b2bc712402b45b3b4e     322
fea5804436264e42b723d639c3e4e34b    2598
fed377a211fb4e17955557308cb72268    3083
fee1ee79a2d34a76af9a64dd93c3545e     371
feedb7854ec14f04b5f09e4829af6f77    4231
fef3bccb14024421be4606ce9505bed7    1567
fef48503a0f8477f8b6133f70c951e8b    3141
ff144d838fcf42a8b6beec720da8fb4b    4086
ff147d0d09854651be9b2186d94fdc24    1600
ff7b3a394c344275bee7ea1c58a70e2c    3437
ff9457a3be6d4844b27d3ccfeac4a3a9    2562
ff94dee71fb647b98337ef5cb168e329     643
ffcdf94f51a54c85bb6d90b3b8624f6b     140
ffda453e86e34db587018c3333f549a0    2190
ffe2c04ae0de450cae6f41c7e2fbd86d     288
Name: deacc_final_flag, Length: 1708, dtype: int64

In [29]:
trip_frame[trip_frame['trip_id'] == '00922df3be5a4589ab385d0c2da2dd81'].to_csv('trip_00922df3be5a4589ab385d0c2da2dd81.csv',index = False)

In [12]:
import pandas as pd
import glob

path = r'C:/Users/sreekar chidurala/Desktop/july work/quantum black AV/weather' # use your path
all_files = glob.glob(path + "/*.parquet")
li = []
for filename in all_files:
    df = pd.read_parquet(filename)
    li.append(df)

weather_frame = pd.concat(li, axis=0, ignore_index=True)

In [13]:
weather_frame

,x,y,date,time,lat,lon,temperature_data,temperature_unit,precipitation_data,precipitation_unit,wind_ew_data,wind_ew_unit,wind_ns_data,wind_ns_unit
0,85,55,2017-02-15,11Z,31.9375,-114.3125,286.430000,k,0.000000,kg/m^2,1.620000,m/s,-2.720000,m/s
1,191,38,2017-02-23,21Z,29.8125,-101.0625,304.960000,k,0.000000,kg/m^2,4.360000,m/s,0.580000,m/s
2,258,60,2017-02-27,16Z,32.5625,-92.6875,287.590000,k,2.450000,kg/m^2,-3.910000,m/s,-1.110000,m/s
3,113,55,2017-01-25,07Z,31.9375,-110.8125,277.800000,k,0.000000,kg/m^2,2.400000,m/s,-1.440000,m/s
4,304,55,2017-02-03,21Z,31.9375,-86.9375,286.010000,k,0.000000,kg/m^2,2.050000,m/s,-5.160000,m/s
5,223,48,2017-01-08,03Z,31.0625,-97.0625,270.610000,k,0.000000,kg/m^2,1.120000,m/s,-1.310000,m/s
6,101,48,2017-02-18,09Z,31.0625,-112.3125,286.900000,k,0.000000,kg/m^2,-3.910000,m/s,9.950000,m/s
7,130,52,2017-02-13,03Z,31.5625,-108.6875,285.080000,k,1.589200,kg/m^2,-7.620000,m/s,2.780000,m/s
8,308,59,2017-01-12,02Z,32.4375,-86.4375,290.040000,k,0.000000,kg/m^2,-0.590000,m/s,5.010000,m/s
9,120,33,2017-01-12,09Z,29.1875,-109.9375,283.070000,k,0.000000,kg/m^2,-2.040000,m/s,-0.430000,m/s
10,80,44,2017-01-19,21Z,30.5625,-114.9375,290.270000,k,0.000000,kg/m^2,-0.900000,m/s,3.110000,m/s
11,244,47,2017-02-04,03Z,30.9375,-94.4375,282.100000,k,0.000000,kg/m^2,-2.430000,m/s,-2.800000,m/s
12,67,55,2017-02-18,13Z,31.9375,-116.5625,283.400000,k,0.000000,kg/m^2,0.800000,m/s,5.250000,m/s
13,267,54,2017-01-05,16Z,31.8125,-91.5625,281.340000,k,0.000000,kg/m^2,0.060000,m/s,0.590000,m/s
14,291,54,2017-02-04,07Z,31.8125,-88.5625,274.220000,k,0.000000,kg/m^2,-2.000000,m/s,-3.750000,m/s
15,283,57,2017-02-21,01Z,32.1875,-89.5625,293.740000,k,0.000000,kg/m^2,-2.200000,m/s,3.690000,m/s
16,107,52,2017-01-02,07Z,31.5625,-111.5625,278.020000,k,0.000000,kg/m^2,0.080000,m/s,4.680000,m/s
17,126,44,2017-01-25,03Z,30.5625,-109.1875,276.000000,k,0.000000,kg/m^2,5.020000,m/s,3.760000,m/s
18,147,59,2017-01-14,01Z,32.4375,-106.5625,288.620000,k,0.000000,kg/m^2,-1.750000,m/s,2.210000,m/s
19,139,41,2017-01-17,19Z,30.1875,-107.5625,285.080000,k,0.000000,kg/m^2,1.160000,m/s,-1.320000,m/s
20,179,31,2017-01-16,18Z,28.9375,-102.5625,282.130000,k,0.000000,kg/m^2,2.060000,m/s,1.820000,m/s
21,324,53,2017-01-12,05Z,31.6875,-84.4375,285.760000,k,0.000000,kg/m^2,-1.330000,m/s,3.240000,m/s
22,136,32,2017-01-24,05Z,29.0625,-107.9375,277.720000,k,0.000000,kg/m^2,5.580000,m/s,3.650000,m/s
23,332,51,2017-01-11,15Z,31.4375,-83.4375,287.770000,k,0.000000,kg/m^2,-0.430000,m/s,3.650000,m/s
24,192,41,2017-02-16,10Z,30.1875,-100.9375,281.250000,k,0.000000,kg/m^2,-0.720000,m/s,1.190000,m/s
25,254,40,2017-02-05,05Z,30.0625,-93.1875,288.020000,k,0.000000,kg/m^2,-1.910000,m/s,1.730000,m/s
26,223,45,2017-01-20,10Z,30.6875,-97.0625,284.850000,k,0.000000,kg/m^2,1.090000,m/s,3.490000,m/s
27,329,56,2017-02-26,19Z,32.0625,-83.8125,288.010000,k,0.000000,kg/m^2,-1.980000,m/s,-1.630000,m/s
28,245,60,2017-01-29,15Z,32.5625,-94.3125,278.680000,k,0.000000,kg/m^2,5.180000,m/s,-1.900000,m/s
29,256,38,2017-01-09,06Z,29.8125,-92.9375,278.320000,k,0.000000,kg/m^2,-3.730000,m/s,-0.280000,m/s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10585986,302,56,2017-01-26,17Z,32.0625,-87.1875,285.400000,k,0.000000,kg/m^2,3.770000,m/s,-4.740000,m/s
10585987,125,49,2017-01-14,09Z,31.1875,-109.3125,284.500000,k,0.000000,kg/m^2,-1.790000,m/s,2.700000,m/s
10585988,179,48,2017-02-11,00Z,31.0625,-102.5625,301.400000,k,0.000000,kg/m^2,0.230000,m/s,2.310000,m/s
10585989,175,33,2017-01-12,11Z,29.1875,-103.0625,288.880000,k,0.000000,kg/m^2,0.780000,m/s,0.560000,m/s
10585990,174,59,2017-02-16,12Z,32.4375,-103.1875,275.990000,k,0.003600,kg/m^2,3.130000,m/s,2.230000,m/s
10585991,100,58,2017-02-24,06Z,32.3125,-112.4375,280.240000,k,0.000000,kg/m^2,3.190000,m/s,-1.020000,m/s
10585992,200,31,2017-02-25,19Z,28.9375,-99.9375,291.080000,k,0.000000,kg/m^2,-3.810000,m/s,-0.970000,m/s
10585993,105,32,2017-01-09,17Z,29.0625,-111.8125,296.040000,k,0.000000,kg/m^2,-1.390000,m/s,-0.430000,m/s
10585994,202,58,2017-02-11,18Z,32.3125,-99.6875,298.240000,k,0.000000,kg/m^2,3.890000,m/s,3.460000,m/s
10585995,268,60,2017-02-21,12Z,32.5625,-91.4375,286.020000,k,0.720000,kg/m^2,3.830000,m/s,0.910000,m/s
10585996,205,48,2017-02-28,16Z,31.0625,-99.3125,295.690000,k,0.000000,kg/m^2,3.090000,m/s,4.710000,m/s
10585997,221,47,2017-02-13,11Z,30.9375,-97.3125,288.880000,k,0.000000,kg/m^2,-2.960000,m/s,-4.310000,m/s
10585998,293,57,2017-01-15,20Z,32.1875,-88.3125,296.110000,k,0.000000,kg/m^2,-0.330000,m/s,1.710000,m/s
10585999,71,51,2017-02-03,07Z,31.4375,-116.0625,283.260000,k,0.000000,kg/m^2,2.030000,m/s,-1.110000,m/s
10586000,292,44,2017-01-25,15Z,30.5625,-88.4375,292.280000,k,0.000000,kg/m^2,0.690000,m/s,3.930000,m/s
10586001,229,39,2017-02-07,19Z,29.9375,-96.3125,301.600000,k,0.000000,kg/m^2,5.650000,m/s,0.990000,m/s
10586002,168,53,2017-01-21,15Z,31.6875,-103.9375,283.480000,k,0.000000,kg/m^2,5.520000,m/s,4.970000,m/s
10586003,236,49,2017-01-17,06Z,31.1875,-95.4375,288.850000,k,0.039600,kg/m^2,-1.740000,m/s,-0.410000,m/s
10586004,213,54,2017-02-12,05Z,31.8125,-98.3125,294.170000,k,0.000000,kg/m^2,0.730000,m/s,4.530000,m/s
10586005,131,58,2017-01-24,14Z,32.3125,-108.5625,277.110000,k,0.007800,kg/m^2,6.170000,m/s,0.290000,m/s
10586006,285,60,2017-01-19,01Z,32.5625,-89.3125,294.740000,k,0.000000,kg/m^2,-0.760000,m/s,3.280000,m/s
10586007,284,39,2017-01-22,09Z,29.9375,-89.4375,294.540000,k,0.000000,kg/m^2,2.480000,m/s,2.770000,m/s
10586008,144,43,2017-02-21,01Z,30.4375,-106.9375,288.420000,k,0.000000,kg/m^2,2.970000,m/s,-2.710000,m/s
10586009,319,51,2017-01-07,20Z,31.4375,-85.0625,276.170000,k,0.000000,kg/m^2,2.600000,m/s,-8.520000,m/s
10586010,145,54,2017-01-19,11Z,31.8125,-106.8125,279.970000,k,0.000000,kg/m^2,5.720000,m/s,0.940000,m/s
10586011,269,46,2017-02-26,19Z,30.8125,-91.3125,292.440000,k,0.000000,kg/m^2,-5.340000,m/s,4.500000,m/s
10586012,297,45,2017-01-22,20Z,30.6875,-87.8125,292.720000,k,0.000400,kg/m^2,9.900000,m/s,-0.210000,m/s
10586013,340,30,2017-01-24,20Z,28.8125,-82.4375,293.610000,k,0.000000,kg/m^2,5.610000,m/s,-1.310000,m/s
10586014,156,34,2017-01-30,19Z,29.3125,-105.4375,282.420000,k,0.000000,kg/m^2,0.530000,m/s,0.890000,m/s
10586015,285,34,2017-01-30,07Z,29.3125,-89.3125,289.500000,k,0.000000,kg/m^2,5.470000,m/s,-5.480000,m/s

In [ ]:
weather_frame['datetime'] = pd.to_datetime(trip_frame['datetime']) - pd.to_timedelta(7, unit='h')

In [74]:
trip_frame[(trip_frame['lat'] == -83.6875) & (trip_frame['lat'] == -294.16)]

Empty DataFrame
Columns: [vehicle_id, trip_id, datetime, lat, long, velocity, velocity_diff, vehicle_id_diff, deacc_flag, deacc_flag_diff, deacc_final_flag]
Index: []

In [75]:
trip_frame

,vehicle_id,trip_id,datetime,lat,long,velocity,velocity_diff,vehicle_id_diff,deacc_flag,deacc_flag_diff,deacc_final_flag
7406337,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:00,31.3125,-85.187500,0.00,NaN,NaN,0,NaN,0
7406338,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:01,31.3125,-85.187222,61.20,61.20,0.0,0,0.0,0
7406339,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:02,31.3125,-85.186944,65.41,4.21,0.0,0,0.0,0
7406340,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:03,31.3125,-85.186667,57.70,-7.71,0.0,1,1.0,1
7406341,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:04,31.3125,-85.186389,68.61,10.91,0.0,0,-1.0,0
7406342,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:05,31.3125,-85.186111,50.79,-17.82,0.0,1,1.0,1
7406343,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:06,31.3125,-85.185833,72.42,21.63,0.0,0,-1.0,0
7406344,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:07,31.3125,-85.185556,67.09,-5.33,0.0,1,1.0,1
7406345,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:08,31.3125,-85.185278,57.79,-9.30,0.0,1,0.0,0
7406346,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:09,31.3125,-85.185000,63.84,6.05,0.0,0,-1.0,0
7406347,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:10,31.3125,-85.184722,62.30,-1.54,0.0,1,1.0,1
7406348,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:11,31.3125,-85.184444,61.76,-0.54,0.0,1,0.0,0
7406349,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:12,31.3125,-85.184167,54.32,-7.44,0.0,1,0.0,0
7406350,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:13,31.3125,-85.183889,57.82,3.50,0.0,0,-1.0,0
7406351,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:14,31.3125,-85.183611,59.60,1.78,0.0,0,0.0,0
7406352,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:15,31.3125,-85.183333,57.42,-2.18,0.0,1,1.0,1
7406353,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:16,31.3125,-85.183056,49.41,-8.01,0.0,1,0.0,0
7406354,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:17,31.3125,-85.182778,62.17,12.76,0.0,0,-1.0,0
7406355,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:18,31.3125,-85.182500,79.01,16.84,0.0,0,0.0,0
7406356,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:19,31.3125,-85.182222,65.18,-13.83,0.0,1,1.0,1
7406357,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:20,31.3125,-85.181944,64.38,-0.80,0.0,1,0.0,0
7406358,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:21,31.3125,-85.181667,38.45,-25.93,0.0,1,0.0,0
7406359,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:22,31.3125,-85.181389,55.94,17.49,0.0,0,-1.0,0
7406360,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:23,31.3125,-85.181111,66.36,10.42,0.0,0,0.0,0
7406361,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:24,31.3125,-85.180833,40.74,-25.62,0.0,1,1.0,1
7406362,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:25,31.3125,-85.180556,66.12,25.38,0.0,0,-1.0,0
7406363,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:26,31.3125,-85.180278,61.42,-4.70,0.0,1,1.0,1
7406364,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:27,31.3125,-85.180000,53.59,-7.83,0.0,1,0.0,0
7406365,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:28,31.3125,-85.179722,50.48,-3.11,0.0,1,0.0,0
7406366,1000500,4f874888ce404720a203e36f1cf5b716,2017-01-01 11:00:29,31.3125,-85.179444,63.11,12.63,0.0,0,-1.0,0
...,...,...,...,...,...,...,...,...,...,...,...
2353243,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:31,31.1875,-95.245556,57.99,26.08,0.0,0,-1.0,0
2353244,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:32,31.1875,-95.245278,60.03,2.04,0.0,0,0.0,0
2353245,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:33,31.1875,-95.245000,39.76,-20.27,0.0,1,1.0,1
2353246,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:34,31.1875,-95.244722,51.68,11.92,0.0,0,-1.0,0
2353247,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:35,31.1875,-95.244444,68.28,16.60,0.0,0,0.0,0
2353248,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:36,31.1875,-95.244167,46.71,-21.57,0.0,1,1.0,1
2353249,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:37,31.1875,-95.243889,51.38,4.67,0.0,0,-1.0,0
2353250,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:38,31.1875,-95.243611,43.79,-7.59,0.0,1,1.0,1
2353251,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:39,31.1875,-95.243333,61.79,18.00,0.0,0,-1.0,0
2353252,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:40,31.1875,-95.243056,54.31,-7.48,0.0,1,1.0,1
2353253,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:41,31.1875,-95.242778,64.51,10.20,0.0,0,-1.0,0
2353254,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:42,31.1875,-95.242500,68.54,4.03,0.0,0,0.0,0
2353255,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:43,31.1875,-95.242222,66.75,-1.79,0.0,1,1.0,1
2353256,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:44,31.1875,-95.241944,41.13,-25.62,0.0,1,0.0,0
2353257,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:45,31.1875,-95.241667,70.64,29.51,0.0,0,-1.0,0
2353258,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:46,31.1875,-95.241389,75.04,4.40,0.0,0,0.0,0
2353259,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:47,31.1875,-95.241111,54.46,-20.58,0.0,1,1.0,1
2353260,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:48,31.1875,-95.240833,53.97,-0.49,0.0,1,0.0,0
2353261,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:49,31.1875,-95.240556,57.99,4.02,0.0,0,-1.0,0
2353262,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:50,31.1875,-95.240278,60.14,2.15,0.0,0,0.0,0
2353263,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:51,31.1875,-95.240000,41.29,-18.85,0.0,1,1.0,1
2353264,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:52,31.1875,-95.239722,46.33,5.04,0.0,0,-1.0,0
2353265,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:53,31.1875,-95.239444,42.16,-4.17,0.0,1,1.0,1
2353266,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:54,31.1875,-95.239167,80.37,38.21,0.0,0,-1.0,0
2353267,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:55,31.1875,-95.238889,66.69,-13.68,0.0,1,1.0,1
2353268,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:56,31.1875,-95.238611,67.43,0.74,0.0,0,-1.0,0
2353269,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:57,31.1875,-95.238333,68.31,0.88,0.0,0,0.0,0
2353270,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:58,31.1875,-95.238056,57.49,-10.82,0.0,1,1.0,1
2353271,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:26:59,31.1875,-95.237778,20.00,-37.49,0.0,1,0.0,0
2353272,1000519,ae6fad497245417a997ede6c99c0b727,2017-02-20 02:27:00,31.1875,-95.237500,0.00,-20.00,0.0,1,0.0,0

In [76]:
temp_w = weather_frame[['lat','lon']].drop_duplicates()

In [78]:
temp_t = trip_frame[['lat','long']].drop_duplicates()

In [79]:
temp_t.columns = ['lat','lon']

In [81]:
ss = pd.concat([temp_w, temp_t])

In [83]:
ss.drop_duplicates().shape

(3032997, 2)

In [84]:
ss.shape

(3037154, 2)

In [ ]:
df['variable'].apply(lambda l: " ".join(l))

In [85]:
l = ["a", "b", "c"]
" ".join(l)

'a b c'